.suloea{{{cns}}} {
    background-image: url(/resources/background.png{{{ns}}});
    position: absolute;
    width: 1076px;
    height: 394px;
    font-family: "Arial", sans-serif;
    font-size: 18px;
    font-weight: bold;
}

.suloea{{{cns}}} .mod-light {
    background-image:url(/resources/yellow-led.png{{{ns}}}) !important;
    background-repeat:no-repeat;
    overflow: hidden;
    height:32px;
    width:32px;
    bottom: 105px;
    right: 52px;
    margin-top: 15px;
    position: absolute;
}

.suloea{{{cns}}} .mod-light.on {
    background-position:left center;
}

.suloea{{{cns}}} .mod-light.off {
    background-position:right center;
}

.suloea{{{cns}}} .mod-footswitch {
    background-image:url(/resources/switch-key.png{{{ns}}});
    background-position:bottom center;
    background-repeat:no-repeat;
    background-size:auto 132px;
    right: 35px;
    bottom: 35px;
    cursor:pointer;
    height:66px;
    width: 66px;
    margin: auto;
    position:absolute !important;
}

.suloea{{{cns}}} .mod-footswitch.on {
    background-position-y: top !important
}

.suloea{{{cns}}} .suloea-knob {
    background-image: url(/resources/knob_70_black_sprites.png{{{ns}}});
    background-repeat: no-repeat;
    height: 100px;
    position: absolute;
    width: 100px;
    z-index: 40;
    padding-top: 100px;
    text-align: center;
    align-items: center;
    color: black;
}

.suloea{{{cns}}} .suloea-knob.suloea-knob-volume {
    bottom: 70px;
    left: 830px;
}

.suloea{{{cns}}} .suloea-knob.suloea-knob-position {
    bottom: 70px;
    left: 720px;
}

.suloea{{{cns}}} .suloea-knob.suloea-knob-time {
    bottom: 70px;
    left: 380px;
}

.suloea{{{cns}}} .suloea-knob.suloea-knob-delay {
    bottom: 70px;
    left: 500px;
}

.suloea{{{cns}}} .suloea-knob.suloea-knob-frequency {
    bottom: 70px;
    left: 235px;
}

.suloea{{{cns}}} .suloea-knob-frequency-minimum {
    position: absolute;
    font-weight: normal;
    font-size: 14px;
    top: 80px;
    left: -12px;
}

.suloea{{{cns}}} .suloea-knob-frequency-maximum {
    position: absolute;
    font-weight: normal;
    font-size: 14px;
    top: 80px;
    left: 85px;
}

.suloea{{{cns}}} .suloea-knob-frequency-value {
    position: absolute;
    font-weight: normal;
    font-size: 14px;
    top: -15px;
    left: 28px;
}

.suloea{{{cns}}} .suloea-stop {
    background: url(/resources/stop_enabled.png{{{ns}}});
    height: 133px;
    width: 81px;
    position: absolute ;
    z-index: 40;
    cursor: pointer;
    top: 30px;
    left: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 16px;
}

.suloea{{{cns}}} .suloea-stop.off {
    background: url(/resources/stop_disabled.png{{{ns}}});
}

.suloea{{{cns}}} .suloea-stop.bourdon16 {
    top: 30px;
    left: 25px;
}

.suloea{{{cns}}} .suloea-stop.principal8 {
    top: 30px;
    left: 98px;
}

.suloea{{{cns}}} .suloea-stop.flute8 {
    top: 30px;
    left: 171px;
}

.suloea{{{cns}}} .suloea-stop.principal4 {
    top: 30px;
    left: 244px;
}

.suloea{{{cns}}} .suloea-stop.flute4 {
    top: 30px;
    left: 317px;
}

.suloea{{{cns}}} .suloea-stop.flute2 {
    top: 30px;
    left: 390px;
}

.suloea{{{cns}}} .suloea-stop.octave2 {
    top: 30px;
    left: 463px;
}

.suloea{{{cns}}} .suloea-stop.octave1 {
    top: 30px;
    left: 536px;
}

.suloea{{{cns}}} .suloea-stop.quinte {
    top: 30px;
    left: 609px;
}

.suloea{{{cns}}} .suloea-stop.tibia8 {
    top: 30px;
    left: 682px;
}

.suloea{{{cns}}} .suloea-stop.celesta {
    top: 30px;
    left: 755px;
}

.suloea{{{cns}}} .suloea-stop.cymbal {
    top: 30px;
    left: 828px;
}

.suloea{{{cns}}} .suloea-stop.mixture {
    top: 30px;
    left: 901px;
}

.suloea{{{cns}}} .suloea-stop.trumpet {
    top: 30px;
    left: 975px;
}

.suloea{{{cns}}} .suloea-temperament {
    position: absolute ;
    bottom: 130px;
    left: 40px;
    z-index: 40;
}